<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Entities" connectionString="metadata=res://*/CinemaModel.csdl|res://*/CinemaModel.ssdl|res://*/CinemaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ARTEMIY;initial catalog=!AbsoluteCinema;integrated security=True;encrypt=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>