<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="BuilderPC" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=BuilderPC;Integrated Security=True" providerName="System.Data.SqlClient" />
  <add name="PCBuilderEntities" connectionString="metadata=res://*/Data.PCBuilder.csdl|res://*/Data.PCBuilder.ssdl|res://*/Data.PCBuilder.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ARTEMIY;initial catalog=PCBuilder;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>
